@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat&display=swap');

body {
    margin: 0;
}

h1, .logo {
    font-family: 'Amiri', serif;
    font-style: normal;
}

p,a {
    font-family: 'Montserrat';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_bg, .social, .pagination {
    position: absolute;
}

.social {
    display: none;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    ul {
        display: none;
    }
}

.main_bg {
    background: url("../image/main_bg.jpg");
    background-position: 30% 0;
    width: 40%;
    height: 900px;
    z-index: -1;
    right: 0;
}

.main_content {
    padding: 9em 4em 9em 3em;
}

h1{
    font-size: 2.5em;
    line-height: 1em;
}

.main_content p {
    font-size: .9em;
    line-height: 1.5em;
    padding-left: 20%;

    &:before {
        content: '';
        left: 0;
        position: absolute;
        width: 20%;
        height: 2.5em;
        background: #F1EDE2;
        margin-top: .3em;
    }
}

footer {
    width: 85%;
    background: #2E2E2E;
    display: flex;
    position: relative;  
}

.makeup {
    width: 8em;
    height: 8em;
    background: url("../image/makeup.jpg");
    background-size: cover;
}

.bb {
    text-decoration: none;
    color: white;
    align-self: center;
    margin: 3em auto;
    word-spacing: nowrap;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 85%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 1px solid white;
    }
}

.pagination {
    right: 0;
    background: white;
    z-index: 1;
    top: 15%;

    li {
        padding: 1em 1.5em 1.5em 1em;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid rgb(145,145,145);
            border-radius: 50%;
        }
    }

    .active:before {
        background: black;
    }
}

.block {
    position: absolute;
    background: #335257;
    width: 2em;
    height: 2em;
}
.one {
    right: 2em;
}
.two {
    right: 0;
    top: 2em;
}


@media (min-width: 550px) {
    body {
        font-size: 18px;
    }
    .menu {
        display: none;
    }

    nav ul {
        display: flex;

        li a {
            color: black;
            text-decoration: none;
            display: block;
            padding: .3em .8em;
            font-size: .9em;
        }
    }
    .social {
        display: unset;
        z-index: 1;
        left: 1.5em;
        top: 20%;
        text-align: center;

        li {
            margin-bottom: 2em;

            img {
                width: 20px;
            }

            &:last-child img {
                width: 10px;
            }
        }
    }

    .main_content {
        padding: 9em 4em 7em 6em;
    }

    .main_content p:before {
        width: 25%;
    }
}

@media (min-width: 900px) {
    body {
        font-size: 20px;
    }
    footer {
        width: 75%;
    }
    .makeup {
        width: 12em;
        height: 12em;
    }
    .main_content {
        padding: 7em 4em 7em 8em;

        p {
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
    .main_content {
        padding: 7em 4em 7em 10em;

        p {
            width: 30%;
        }
    }
}

@media (min-width: 1400px) {
    .main_bg {
        right: 10%;
    }
}